//This is the primary global style sheet

@import 'nib'
body
  padding: 0px 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #444
  color #DDDDDD
  margin-bottom 100px
a
  color: #00B7FF

.done-text
  color: #44CC44

#ml
  height 130px

div.flexbox
  display flex

div.main-title
  position relative
  animation-name fade-in
  animation-duration .7s
  animation-timing-function ease-out
  animation-delay 0s

.footer
  padding 15px 0px

@keyframes fade-in
  0%
    opacity 0.0
    left -10px
  100% 
    opacity 1.0
    left 0px


.g-signin
  display none

.requires-login
  display none

.logged-in
  display block

#gConnect
  flex 0 0 140px

  #error
    color #CC0000