//This is the primary global style sheet

@import 'nib'
body
  padding: 0px 20px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color #444
  color #DDDDDD
a
  color: #00B7FF

.done-text
  color: #44CC44

#ml
  height 130px

div.main-title
  position relative
  animation-name fade
  animation-duration .7s
  animation-timing-function ease-out
  animation-delay 0s

.footer
  padding 15px 0px

@keyframes fade 
  0%
    opacity 0.0
    left -10px
  100% 
    opacity 1.0
    left 0px

/*This is Todo-Only!*/


.g-signin
  display none

.requires-login
  display none

#gConnect
  float right
  max-width 140px

.authOps
  float right


  #error
    color #CC0000

  /* End Todo */
