//This is the primary global style sheet

@import 'nib'

/* Resume Only! */
#resume-content
  .section
    float:left
    vertical-align top
    margin 5px
    padding 5px
    border-left: thick solid #000

  
  .job-name
    font-weight bold
    font-size 20px
    margin-bottom 0px

  .job-location
    font-style italic
    padding-left 20px
  .current .job-name
    font-size 30px

  .job-title
    margin 5px

  .job-time
    font-style italic
    margin 5px

  .job-descriptions
    padding-left 20px

  #work-experience
    min-width 400px
    max-width 600px
  #education
    max-width 400px
    .school
      font-weight bold
      font-size 30px
      margin-bottom 0px
    .graduation
      font-style italic
      padding-left 20px
//  #languages
//  #other-skills
/* End Resume */