//This will be a side-navigation style format

.simple
  h1
    color #000000

  #nav
    float left
    vertical-align top
    padding 20px 10px 0px 0px

    li
      display block 

  .content
    margin 10px
    display block

