//This will be a side-navigation style format

.simple
  h1
    color #000000

  #nav
    vertical-align top
    padding 20px 0px 0px 0px
    -webkit-flex 0 0 80px

    li
      display block 
      padding 5px 5px

  .content
    margin 10px
    display block

  @media screen and (max-width:500px)
    .flexbox
      flex-direction column
    #nav li
      display inline-block
  @media print
    .flexbox
      flex-direction column
    #nav
      display none

    #head
      text-align center
    #ml
      height 80px
    
    color #555
    margin-bottom 0px !important