//This is the primary global style sheet

@import 'nib'

/* Blog Edit Only! */
#blog-edit-content
  #title-text
    display block
    width 300px
    font-size 20px

  #body-text
    display block
    min-width 600px
    width 50%
    height 400px
    margin 20px 0px

.post-group
  padding 10px 15px
  margin 10px 0px

.latest
  background-color #373737

.post
   margin 5px 0px

  .permalink
    font-size 12px

  .date
    margin 5px 0px

  .title
    margin 5px 0px
