//This is the primary global style sheet

@import 'nib'

/* Blog Edit Only! */
#blog-edit-content
  #title-text
    display block
    width 300px
    font-size 20px

  #body-text
    display block
    min-width 600px
    width 50%
    height 400px
    margin 20px 0px