//This is the primary global style sheet

@import 'nib'

/* Blog Edit Only! */
#blog-edit-content
  #title-text
    display block
    width 300px
    font-size 20px

  #body-text
    display block
    min-width 600px
    width 50%
    height 400px
    margin 20px 0px

.post-group
  padding 10px 15px
  margin 10px 0px

.latest
  background-color #373737

.post
  padding 20px
  .permalink
    font-size 12px
  .date
    margin 5px 5px
    color #888
  .title
    margin 5px 0px
    font-size 25px
    color #CCD
  .body
    img
      max-width: 80%
      margin 0 auto
      display block
    h1
      font-size 20px
      color #BBB
    h2
      font-size 18px
      color #BBB
    h3
      font-weight bold
      color #BBB
    p
      margin 10px

#blog-post-content
  .post
    background-color #373737