//This is the resume-specific style sheet

@import 'nib'

#portfolio-content
  flex 1
  .flickr-images
    white-space nowrap
    overflow-x scroll
  .flickr-item
    display inline-block
    vertical-align middle
    padding 5px
  .flickr-image
    display block
    width auto
    height 150px