//This is the resume-specific style sheet

@import 'nib'

#portfolio-content
  flex 1
  .flickr-images
    white-space nowrap
    overflow-x scroll
  .flickr-item
    display inline-block
    vertical-align middle
    padding 3px
  .flickr-image
    display block
    width auto
    height 350px
  ::-webkit-scrollbar
    -webkit-appearance none
   width 7px
  ::-webkit-scrollbar-thumb 
    border-radius 4px
    background-color rgba(0, 0, 0, .5)
    //-webkit-box-shadow 0 0 1px rgba(255, 255, 255, .5)

  .youtube-videos
    white-space nowrap
    overflow-x scroll
  .youtube-item
    display inline-block
    vertical-align middle
    padding 3px
  .youtube-image
    display block
    width auto
    height 180px