//This is the resume-specific style sheet

@import 'nib'

#resume-content
  .brief
    max-width 1000px
    display flex
  .me-resume
    flex 0 1 auto
    width 20%
    height 20%
    padding 10px
    margin auto
  .brief-text
    display inline-block
    flex 1 1 auto
    margin auto
    padding 10px

  .section
    float left
    vertical-align top
    margin 5px
    padding 5px
    border-left thick solid #000
  .job-name
    font-weight bold
    font-size 20px
    margin-bottom 0px
    color #B2E0FF
  .job-location
    font-style italic
    padding-left 20px
  .current .job-name
    font-size 30px

  .job-title
    margin 5px

  .job-time
    font-style italic
    margin 5px

  .job-descriptions
    padding-left 20px

  #work-experience
    min-width 400px
    max-width 600px
  #education
    max-width 400px
    .school
      font-weight bold
      font-size 30px
      margin-bottom 0px
      color #B2E0FF
    .graduation
      font-style italic
      padding-left 20px
  #accolades
    max-width 400px
//  #languages
//  #other-skills