
#todo-content
  flex  1 1 auto
  min-width 300px
  .todo input
    display none

  .todo .doneify
    display inline-block
    display none

  .todo .remove
    display none

  td.button-cell
    min-width 85px

  .todo tr:nth-child({odd})
    background #555
  .task-list
    width 100%