//This will be a side-navigation style format

.simple
  h1
    color #000000

  #nav
    display inline-block
    vertical-align top
    padding 20px 20px 0px 0px
    li
      display block 

  #content
    display inline-block 

