extends layout
block headvars
  - var title = "Contact"

block content
  .content#contact-content
    div.main-title
      h1 #{title}
    .contacts
      .section#linked-in
        a(href="http://www.linkedin.com/in/michaellen")
          h2 LinkedIn
        | You can contact me using LinkedIn: 
        a(href="http://www.linkedin.com/in/michaellen") http://www.linkedin.com/in/michaellen
      .section#email
        h2 Email
        | You can email me at: me [at] michaellen.com
      .section#github
        a(href="https://github.com/lental")
          h2 Github
        | You can view my github at 
        a(href="https://github.com/lental") https://github.com/lental
      .section#flickr
        a(href="http://www.flickr.com/photos/michaellen")
          h2 Flickr
        | You can view my flickr at 
        a(href="http://www.flickr.com/photos/michaellen") http://www.flickr.com/photos/michaellen
      .section#youtube
        a(href="http://www.youtube.com/lenkid")
          h2 Youtube
        | You can view my Youtube channel at 
        a(href="http://www.youtube.com/lenkid") http://www.youtube.com/lenkid
      .section#steam
        a(href="http://steamcommunity.com/id/Lenkid") 
          h2 Steam
        | You can view my Steam profile at 
        a(href="http://steamcommunity.com/id/Lenkid") http://steamcommunity.com/id/Lenkid
      .section#twitch
        a(href="http://twitch.tv/LenTVLive") 
          h2 Twitch
        | You can view my Twitch channel at 
        a(href="http://twitch.tv/LenTVLive") http://twitch.tv/LenTVLive