extends layout

block content
  .content#index-content
    .main-title
      h1 #{title}
    p Welcome to the new MichaelLen.com
    p This is a repository of all things that represent me.  Please feel free to peruse, and take a look at things that I've collected over my carreer
    p Additionally, this entire site is open sourced and available 
      a(href='https://github.com/lental') On my Github
      | . Check it out!
