extends layout

block content
  .content#index-content
    .main-title
      h1 #{title}
    p Welcome to the new MichaelLen.com
    p This is a repository of all things that reprsent me.  Please feel free to peruse, and take a look at things that I've collected over my carreer
    
