doctype html
html
  head
    style
      include ../public/stylesheets/style.css
    script
      include ../public/javascripts/jquery-min.js
      include ../views/fragments/common.js

    meta(name='google-site-verification', content='hfebnc_1ojHT1XJiX6mHKUhCTKuYoLvm7XYLQ8OcDaI')

    //link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    //script(src='javascripts/jquery-min.js')
    block headvars
    title= 'Michael Len | ' + title
    //include /views/fragments/logo-animation.js

  body.simple
    #head
      img#ml(src='/images/logo.png')
    div
      select.ui-selector
        - var list = ['simple', 'advanced']
        each item in list
          option #{item}
    .flexbox
      #nav
        li
          a#home(href='/') Home
        li
          a#resume(href='/resume') Resume
        li
          a#portfolio(href='/portfolio') Portfolio
        li
          a#blog(href='/blog') Blog
        li
          a#contact(href='/contact') Contact
        li
          a#contact(href='/todo') Todo

      block header
      block content
