doctype html
html
  head
    style
      include ../public/stylesheets/style.css
    script
      include ../public/javascripts/jquery-min.js
    script
      include ../views/fragments/google-analytics.js
      
    link(rel='shortcut icon', type='image/png', href='/favicon.png')
    meta(name='google-site-verification', content='hfebnc_1ojHT1XJiX6mHKUhCTKuYoLvm7XYLQ8OcDaI')

    block headvars
    title= 'Michael Len | ' + title
    //include /views/fragments/logo-animation.js

  body.simple
    #head
      img#ml(src='/images/logo.png')
    .flexbox
      #nav
        li
          a#home(href='/') Home
        li
          a#resume(href='/resume') Resume
        li
          a#portfolio(href='/portfolio') Portfolio
        li
          a#blog(href='/blog') Blog
        li
          a#contact(href='/contact') Contact
        li
          a#contact(href='/todo') Todo

      block header
      block content
