doctype 5
html
  head
    block headvars
    title= 'Michael Len | ' + title 

    //link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='http://code.jquery.com/jquery-1.9.1.min.js')

    include /public/stylesheets/style.css
    include /components/jquery/jquery.min.js
    include /views/fragments/logo-animation.js

  body.simple
    #head
      img#ml(src='images/ml-sm.png')
    div
      select.ui-selector
        list = ['simple', 'advanced']
        for item in list
          option #{item}

    #nav
      li 
        a#home(href="/") Home
      li 
        a#resume(href="resume") Resume
      li 
        a#portfolio(href="portfolio") Portfolio
      li 
        a#blog(href="blog") Blog
      li 
        a#contact(href="contact") Contact
      li 
        a#contact(href="todo") Todo 

    #content
      block header
      block content
