doctype 5
html
  head
    include /public/stylesheets/style.css
    include /components/jquery/jquery.min.js

    meta(name='google-site-verification', content='1YuKro8iXOdfGOpxAUc1iJ8MucBM4MBuPx4S2stTRkA')

    //link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    //script(src='javascripts/jquery-min.js')
    include /views/fragments/common.js
    block headvars
    title= 'Michael Len | ' + title
    //include /views/fragments/logo-animation.js

  body.simple
    #head
      img#ml(src='/images/ml-sm.png')
    div
      select.ui-selector
        list = ['simple', 'advanced']
        for item in list
          option #{item}

    #nav
      li
        a#home(href='/') Home
      li
        a#resume(href='resume') Resume
      li
        a#portfolio(href='portfolio') Portfolio
      li
        a#blog(href='blog') Blog
      li
        a#contact(href='contact') Contact
      li
        a#contact(href='todo') Todo

    block header
    block content
