extends layout

block headvars
  - var title = "Portfolio"

  script
    include fragments/portfolio.js

block content
  .content#portfolio-content
    div.main-title
      h1 #{title}
    p This page has a short portfolio which contains some of my most recent endeavors in various fields

    p The following are my most recent photographs I featured in my 
      a(href="flickr.com/photos/michaellen") Flickr
      | .
    .flickr-images

    p The following are my latest videos that I've posted on 
      a(href="https://www.youtube.com/user/lenkid") Youtube
      | .
    .youtube-videos

    p The following is a short list of projects I have worked on in the past.  Some are small personal projects, others are open-sourced projects from work.
    .projects
      - for (var i in projects)
        .project
          img.project-thumbnail(src="#{projects[i].thumbnail_image}")
