extends layout

block headvars
  - var title = "Portfolio"

  script
    include fragments/portfolio.js
  script.
    var projects=!{JSON.stringify(projects)}


block content
  .content#portfolio-content
    div.main-title
      h1 #{title}
    p This page has a short portfolio which contains some of my most recent endeavors in various fields

    h2 Flickr
    p The following are my most recent photographs I featured in my 
      a(href="flickr.com/photos/michaellen") Flickr
      | . Click on an image to see the full size
    .flickr-images

    h2 Youtube
    p The following are my latest videos that I've posted on 
      a(href="https://www.youtube.com/user/lenkid") Youtube
      | . Click on a thumbnail to watch the video.
    .youtube-videos

    h2 Projects
    p The following is a short list of projects I have worked on in the past.  Some are small personal projects, others are open-sourced projects from work.
    p Click on a thumbnail to learn more, and click on the larger image to open up the project!
    .projects
      - for (var i in projects)
        .project
          a(href="#project-details" onclick="expandProject(#{i})")
            img.project-thumbnail(src="#{projects[i].thumbnail_image}")
    #project-details
      h1
        a.project-title
      a.project-link(href="#project-details")
        img.project-image
      p.project-description