extends layout

block headvars
  - var title = "Portfolio"

  script
    include fragments/portfolio.js

block content
  .content#portfolio-content
    div.main-title
      h1 #{title}
    p This will be the Portfolio
