extends layout

block headvars
  - var title = "Resume"

block header 
  .main-title
    h1 #{title} 


block content
  p This will be the resume
  .resume
    .section#work-experience
      h2 Work Experience
      .current.job
        p.job-name  Ooyala Inc.: 
        p.job-title Software Engineer
        p.job-time  2012-Present
        p.job-loocation Mountain View, CA
        p.job-descriptions
          li Part of the Playback Team, providing an industry-leading consumer experience
          li Developed a video platform that spans over all screens - Desktop, Mobile and TV
          li Led impactful features that provided huge value to the company's product
          li 

      .job
        p.job-name  Hulu: 
        p.job-title Software Developer Engineer
        p.job-time  Summer 2011
        p.job-loocation Los Angeles, CA 
        p.job-descriptions
          li Developed Ad-Sharing, a feature that faces entire Hulu audience
          li Worked in a language agnostic environment, using AS3, Ruby, C#, and Python
          //li Committed branches and bug fixes to a production trunk
          li Communicated with developers, executives, and designers to build feature

      .job
        p.job-name  Microsoft: 
        p.job-title Software Developer Engineer Intern
        p.job-time  Summer 2010
        p.job-loocation Redmond, WA
        p.job-descriptions
          li Part of Windows 8 User Experience/Core Experience Evolved
          li Contributed to the design specs of new Windows 8 UI elements
          li Developed internal tools for Win8 developers
          li Learned the production process of large scale software

      .job
        p.job-name  Deutche Bank: 
        p.job-title Platform Developer Engineer
        p.job-time  Summer 2009
        p.job-loocation New York, NY
        p.job-descriptions
         li Implemented workflow automations to increase buisness productivity
         li Pioneered and developed a prototype software platform to be released across the company
         li Analyzed the value of social networking in corporate situations

    .section#education
      h2 Education
      p.school Carnegie Mellon University
      p.graduation Graduated May 2012 
      p.major Bachelor of Science in Computer Science
      p.minor Double Major in Human-Computer Interaction
      p.minor Minor in Communication Design
      p.gpa GPA: 3.24


    .section#languages
      h2 Languages
      p.subsection Proficient in:
        li Ruby
        li Javascript
        li Java
        li HTML/CSS
        li Bash-fu
        li MySQL
      p.subsection Comfortable in:
        li ActionScript
        li Go
        li Objective-C
        li LaTeX
        li C/C++
      p.subsection Frameworks Used
       li Rails
       li Node.js
       li Android Development
       li iOS Development

     .section#other-skills
       h2 Other Skills
       li Git
       li Adobe Photoshop
       li Adobe Illustrator
       li UX Research Competency
       li Starcraft II


