extends layout

block headvars
  - var title = "Resume"

block content
  .content#resume-content
    .main-title
      h1 #{title}
    .print-text
      p For a better viewing experience, check out the website: 
        a(href="http://www.michaellen.com/resume") http://www.michaellen.com/resume
    h2 About Me
    .brief 
      img.me-resume(src="/images/me.jpg")
      .brief-text
        p I'm an energetic, highly motivated engineer that loves to work in companies that push the limits of a more personalized, interactive internet society. All eyes are on the Tech field now. I want to make sure I'm part of the spearhead of the industry, encouraging innovation that provides true value to the consumer's internet-centric life.

        p I thrive on learning new things.  I love expanding my breadth of knowledge, applying my experience from other domains to contribute to my current occupation. Most of my experience has been in the online video space, where I've touched all viewer-facing products. This primarily includes features like advertising/monetization, user interface, video rendering, read-only APIs, mobile web optimization, and native mobile library development. 

        p I'm constantly intrigued by personal and organizational improvement.  There is no perfect engineer or company, but the drive to get there gets me up every morning.  I continuously work to improve myself, ensuring that no matter where I am there is someone for me to look up to.  I also focus my efforts into optimizing my team (and organization), to make sure engineers like me can do what we do best, at the fastest velocity possible.
    .resume
      .section#work-experience
        h2 Work Experience
        .current.job
          p.job-name  Current: Ooyala Inc.
          p.job-location Santa Clara, CA
          p.job-title Staff Software Engineer
          p.job-time  February 2015 - Present
          p.job-descriptions
            ul
              li Helping to scale the Playback from 3 engineers to the 15+ in 4 different teams
              li Providing technical and cultural leadership to the entire Playback Organization
              li Continuing to lead the Playback Apps while contributing at a company scale
              li Jumpstarting Engineering-wide initiatives, in the form of cross-team Tech Lead roundtables and lunchtime tech talk viewings
              li Architected, managed, and contributed to the following engineering products:
                ul
                  li Out-of-the-box Chromecast Integration for all Ooyala customers
                  li Revised library package build scripts
                  li 
                    a(href='https://github.com/ooyala/android-sample-apps') android-sample-apps
                    |  and 
                    a(href='https://github.com/ooyala/ios-sample-apps') ios-sample-apps
                    |  repositories for enhanced developer experience
                  li Managed updated Playback UI overhaul across both Android and iOS using React Native

          p.job-title Technical Lead
          p.job-time  May 2014 - Present
          p.job-descriptions
            ul
              li Keeping all the gears running smoothly within the Playback Apps team
              li Acting as ScrumMaster for the team, scheduling sprints, pushing ticket completion, and tracking velocity
              li Managing tasks and planning for a team of 5 engineers

          p.job-title Senior Software Engineer
          p.job-time  October 2013 - May 2014 
          p.job-descriptions
            ul
              li Acted as the sole member of the Playback Apps team.
              li Single-source for all native Android and iOS knowledge for a time
              li Led all Native SDK projects during this time, including
                ul
                  li Content Protection/DRM Video Playback on Android
                  li Architected and maintained 
                    a(href='https://play.google.com/store/apps/details?id=com.hooktv.hook&hl=en') Hook
                    | , a Native Media Playback application
                  li Video Ad Integration with Third Party Ad Managers (Freewheel and IMA)
                  li Architected Ad Manager Plugin framework to enable any arbitrary Ad integration to be built
              li Drove major changes to Playback's JIRA workflows and story management
              li Hired, mentored, and ramped a team of 5 engineers

          p.job-title Software Engineer
          p.job-time  August 2012 - October 2013
          p.job-descriptions
            ul
              li Part of the Playback Team, providing an industry-leading consumer experience
              li Developed a video platform that spans over all screens - Desktop, Mobile and TV
              li Led impactful features that provided huge value to the company's product, including:
                ul
                  li Content Provider-based login and authorization with Adobe Pass
                  li Third party HLS video playback integration into Android Native SDK
                  li Video playback integration with Twitter when a customer page is linked

        .job
          p.job-name  Hulu 
          p.job-location Los Angeles, CA
          p.job-title Software Developer Engineer Intern
          p.job-time  Summer 2011
          p.job-descriptions
            ul
              li Developed Ad-Sharing, a feature that faces entire Hulu audience
              li Worked in a language agnostic environment, using AS3, Ruby, C#, and Python
              li Communicated with developers, executives, and designers to build feature

        .job
          p.job-name  Microsoft
          p.job-location Redmond, WA
          p.job-title Software Developer Engineer Intern
          p.job-time  Summer 2010
          p.job-descriptions
            ul
              li Part of Windows 8 User Experience/Core Experience Evolved
              li Contributed to the design specs of new Windows 8 UI elements
              li Developed internal tools for Win8 developers
              li Learned the production process of large scale software

        .job
          p.job-name  Deutche Bank
          p.job-location New York, NY
          p.job-title Platform Developer Engineer Intern
          p.job-time  Summer 2009
          p.job-descriptions
            ul
              li Implemented workflow automations to increase buisness productivity
              li Pioneered and developed a prototype software platform to be released across the company
              li Analyzed the value of social networking in corporate situations

      .section#languages
        h2 Languages/Skills
        p.subsection Proficient in:
          ul
            li Java
            li Objective-C
            li Javascript
            li HTML/CSS
            li MySQL
            li Ruby
        p.subsection Comfortable in:
          ul
            li Go
            li ActionScript
            li Bash-fu
            li LaTeX
            li C/C++

      .section#other-skills
        h2 Frameworks Used
        p
          ul
            li Rails
            li Node.js
            li Android Development
            li iOS Development
            li React Native
        h2 Other Skills
        p
          ul
            li Git
            li JIRA Agile Mangement
            li Adobe Photoshop
            li Adobe Illustrator
            li UX Research Experience
            li League of Legends
            li Super Smash Bros (Wii U)
            //a(href="http://us.battle.net/sc2/en/profile/674273/1/Len/") Starcraft II
      .section#accolades
        h2 Accolades
        p.subsection Engineering-related
          ul
            li Ooyala 2013 Hackathon Overall Winner: Hack Attack
            li Ooyala 2014 Hackathon Honorable Mention: Tick Tock
        p.subsection Non-engineering related
          ul
            li Ooyala's 2015 Lip Sync Competition Judge's Choice Winner

      .section#education
        h2 Education
        p.school Carnegie Mellon University
        p.graduation Graduated May 2012
        p.major Bachelor of Science in Computer Science
        p.minor Double Major in Human-Computer Interaction
        p.minor Minor in Communication Design
        p.gpa GPA: 3.24

