extends layout

block headvars
  - var title = "Todo"

block header 
  .main-title
    h1 #{title} 


block content
  p This is a list of planned updates to this site
  .todo
    ul
      - for (var i in tasks)
        p #{tasks[i].description}
          if tasks[i].is_done > 0
            |: 
            span.done-text Done!
          else
