body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
/*
@keyframes shittyFade
  0%
    opacity 0.0
  25%
    background-color #FF0000
    color #ccff33
  50%
    opacity 0.0
    background-color #00FF00
    color #2259dd
  75%
    background-color #FF0000
    color #aacc00
  100% 
    opacity 1.0
    background-color #0000FF
    color #ff00ff
    */

@keyframes fade 
  0%
    opacity 0.0
    left -10px
  100% 
    opacity 1.0
    left 0px
div.main-title
  position relative
  width 300px
  -webkit-animation-name fade
  -webkit-animation-duration .7s
  -webkit-animation-timing-function ease-out
  -webkit-animation-delay 0s

.default h1
  color: #000000

.advanced h1
  color: #FF0000
