@import 'nib'

#michael
  height 200px
  position absolute
  left 372px

#michael-after
  height 200px
  position absolute
  left 47px

.michael-animation
  animation-name michael-scroll
  animation-duration 1s
  animation-timing-function ease-out
  animation-delay 0s
  animation-direction alternate

#len
  height 200px
  position absolute
  left 536px

#blank
  height 200px
  position absolute
  left 641px

#blank-after
  height 200px
  position absolute
  left 775px

.blank-animation
  animation-name blank-scroll
  animation-duration .4s
  animation-timing-function ease-out
  animation-delay 0s
  animation-direction alternate

/*
@keyframes shittyFade
  0%
    opacity 0.0
  25%
    background-color #FF0000
    color #ccff33
  50%
    opacity 0.0
    background-color #00FF00
    color #2259dd
  75%
    background-color #FF0000
    color #aacc00
  100% 
    opacity 1.0
    background-color #0000FF
    color #ff00ff
    */

@keyframes michael-scroll
  0%
    left 372px
  100% 
    left 47px

 @keyframes blank-scroll
  0%
    left 641px
  100% 
    left 775px

